apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ include "accessgraph.fullname" . }}-api
  labels:
    {{- include "accessgraph.labels" . | nindent 4 }}
    component: api
spec:
  replicas: {{ .Values.replicaCount }}
  selector:
    matchLabels:
      {{- include "accessgraph.selectorLabels" . | nindent 6 }}
      component: api
  template:
    metadata:
      annotations:
        {{- with .Values.podAnnotations }}
        {{- toYaml . | nindent 8 }}
        {{- end }}
        checksum/config: {{ include (print $.Template.BasePath "/configmap.yaml") . | sha256sum }}
      labels:
        {{- include "accessgraph.selectorLabels" . | nindent 8 }}
        component: api
    spec:
      {{- with .Values.imagePullSecrets }}
      imagePullSecrets:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      serviceAccountName: {{ include "accessgraph.serviceAccountName" . }}
      securityContext:
        {{- toYaml .Values.podSecurityContext | nindent 8 }}
      containers:
      - name: api
        image: "{{ .Values.image.api.repository }}:{{ .Values.image.api.tag }}"
        imagePullPolicy: {{ .Values.image.api.pullPolicy }}
        securityContext:
          {{- toYaml .Values.api.securityContext | nindent 10 }}
        ports:
        - name: http
          containerPort: {{ .Values.api.port }}
          protocol: TCP
        envFrom:
        - configMapRef:
            name: {{ include "accessgraph.fullname" . }}
        env:
        - name: PORT
          value: {{ .Values.api.port | quote }}
        - name: SQLITE_PATH
          value: "/data/graph.db"
        livenessProbe:
          {{- toYaml .Values.api.livenessProbe | nindent 10 }}
        readinessProbe:
          {{- toYaml .Values.api.readinessProbe | nindent 10 }}
        startupProbe:
          {{- toYaml .Values.api.startupProbe | nindent 10 }}
        resources:
          {{- toYaml .Values.api.resources | nindent 10 }}
        volumeMounts:
        - name: data
          mountPath: /data
        - name: tmp
          mountPath: /tmp
      volumes:
      - name: data
        {{- if .Values.persistence.enabled }}
        persistentVolumeClaim:
          claimName: {{ include "accessgraph.fullname" . }}-data
        {{- else }}
        emptyDir:
          sizeLimit: {{ .Values.persistence.emptyDir.sizeLimit }}
        {{- end }}
      - name: tmp
        emptyDir: {}
      {{- with .Values.nodeSelector }}
      nodeSelector:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with .Values.affinity }}
      affinity:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with .Values.tolerations }}
      tolerations:
        {{- toYaml . | nindent 8 }}
      {{- end }}

