apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ include "accessgraph.fullname" . }}-ui
  labels:
    {{- include "accessgraph.labels" . | nindent 4 }}
    component: ui
spec:
  replicas: {{ .Values.replicaCount }}
  selector:
    matchLabels:
      {{- include "accessgraph.selectorLabels" . | nindent 6 }}
      component: ui
  template:
    metadata:
      labels:
        {{- include "accessgraph.selectorLabels" . | nindent 8 }}
        component: ui
    spec:
      {{- with .Values.imagePullSecrets }}
      imagePullSecrets:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      serviceAccountName: {{ include "accessgraph.serviceAccountName" . }}
      securityContext:
        {{- toYaml .Values.podSecurityContext | nindent 8 }}
      containers:
      - name: ui
        image: "{{ .Values.image.ui.repository }}:{{ .Values.image.ui.tag }}"
        imagePullPolicy: {{ .Values.image.ui.pullPolicy }}
        securityContext:
          {{- toYaml .Values.ui.securityContext | nindent 10 }}
        ports:
        - name: http
          containerPort: {{ .Values.ui.port }}
          protocol: TCP
        env:
        - name: REACT_APP_GRAPHQL_URL
          value: "http://{{ include "accessgraph.fullname" . }}-api:{{ .Values.service.api.port }}/query"
        livenessProbe:
          httpGet:
            path: /
            port: {{ .Values.ui.port }}
          initialDelaySeconds: 10
          periodSeconds: 30
        readinessProbe:
          httpGet:
            path: /
            port: {{ .Values.ui.port }}
          initialDelaySeconds: 5
          periodSeconds: 10
        resources:
          {{- toYaml .Values.ui.resources | nindent 10 }}
        volumeMounts:
        - name: cache
          mountPath: /var/cache/nginx
        - name: run
          mountPath: /var/run
      volumes:
      - name: cache
        emptyDir: {}
      - name: run
        emptyDir: {}
      {{- with .Values.nodeSelector }}
      nodeSelector:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with .Values.affinity }}
      affinity:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with .Values.tolerations }}
      tolerations:
        {{- toYaml . | nindent 8 }}
      {{- end }}

